.snakeBoard {
  outline: 2px solid lightblue;
}

.snakeBoardRow {
  height: 50px;
}

.boardCell {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  outline: 2px solid lightblue;
}

.snakeCell {
  background-color: green;
}

.pointCell {
  background-color: red;
}