.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.actionKey {
  padding: 1em 2em;
  cursor: pointer;
  user-select: none;
  border: 2px solid lightgrey;
}

.regKey {
  width: 35px;
  height: 35px;
  border: 1px solid lightblue;
}

.eliminatedKey {
  background-color: red;
  cursor: default;
}

.key:active {
  background-color: lightblue
}